<html>
    <head>
        <meta charset="utf8">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6QFTN6RG0K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6QFTN6RG0K');
        </script>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="beyV所属の新人Vライバー、陽津葉テイルです！">
        <link rel="canonical" href="https://yotuba-teiru.herokuapp.com/">
        <!-- Twitter cards -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@Yotuba_Teiru">
        <meta name="twitter:creator:id" content="@Yotuba_Teiru">
        <meta name="twitter:title" content="陽津葉(よつば)テイル 非公式サイト">
        <meta name="twitter:description" content="beyV所属の新人Vライバー、陽津葉テイルです！">
        <meta name="twitter:image" content="https://yotuba-teiru.herokuapp.com/st/img/icon_mini.jpg?20211121">
        <meta name="twitter:url" content="https://yotuba-teiru.herokuapp.com/">
        <!-- OGP -->
        <meta property="og:url" content="https://yotuba-teiru.herokuapp.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="陽津葉(よつば)テイル 非公式サイト">
        <meta property="og:description" content="beyV所属の新人Vライバー、陽津葉テイルです！">
        <meta property="og:site_name" content="陽津葉(よつば)テイル 非公式サイト">
        <meta property="og:image" content="https://yotuba-teiru.herokuapp.com/st/img/icon_minijpg?20211121">
        <title>陽津葉(よつば)テイル 非公式サイト</title>
        <link rel="stylesheet" href="/st/styles.css">
    </head>
    <body>
        <span id="header_opener" tabindex="0"></span>
        <header tabindex="0">
            <h3 style="display: block; color: var(--green); margin-left: 15px; font-size: 22px; text-shadow: 0 0 3px white;">Menu</h3>
            <div><a href="#top">プロフィール</a></div>
            <div><a href="#introduction">紹介</a></div>
            <div><a href="#illust">イラスト</a></div>
            <div><a href="#movie">動画</a></div>
            <div><a href="#history">活動の記録</a></div>
            <div><a href="#comments">コメント</a></div>
            <div><a href="#about">このサイトについて</a></div>
        </header>
        <div id="slider">
            <main>
                <a id="top"></a>
                <p id="loading">読込中♪</p>
                <h1 id="name_teiru"></h1>
                <h3 id="bio_teiru" style="display: none;">人間界に出現したbeyV所属のちょっと声が低い四葉の妖精です🍀</h3>
                <div id="icon_desc" style="display: none;">
                    <div id="icon_teiru">
                        <img src="/st/img/stand.png">
                    </div>
                    <div id="desc_teiru">
                        <p><label>名前</label>陽津葉テイル</p>
                        <p><label>よみ</label>よつばている</p>
                        <p><label>ファンマーク</label>🍀💫</p>
                        <p><label>所属</label><a href="https://twitter.com/beyv_japan" target="_blank" rel="noopener noreferrer">beyV</a></p>
                        <p><label>性別</label>女性</p>
                        <p><label>誕生日</label>5月29日</p>
                        <p><label>年齢</label>529歳(虚偽申告)</p>
                        <p><label>Twitter</label><a href="https://twitter.com/Yotuba_Teiru" target="_blank" rel="noopener noreferrer">@Yotuba_Teiru</a></p>
                        <p><label>YouTube</label><a href="https://www.youtube.com/channel/UCIzuINdXhWFI7rEFzG9Ps0A" target="_blank" rel="noopener noreferrer">四葉の妖精ちゃんねる🍀</a></p>
                        <p><label>Twitter開設日</label>2021年9月2日</p>
                        <p><label>IRIAM初配信日</label>2021年10月21日</p>
                    </div>
                </div>
                <div id="topics">
                    <h3>最新トピック</h3>
                    <p>11月16日からIRIAMでバナイべ参加中！</p>
                    <p>色々考えて頑張ってるみたいだけど盛り上がりは割と普段と変わらない感じ。</p>
                    <p>余裕ある人はぜひ応援してあげて！！！！</p>
                </div>
            </main>
            <main>
                <a id="introduction"></a>
                <h2>紹介</h2>
                <div>
                    <p>ママ(イラストレーター)は<a href="https://twitter.com/shigurehimari" target="_blank" rel="noopener noreferrer">時雨ひまり</a>さんです。</p>
                    <p>レタスとか言う人もいますが、四つ葉のクローバーをモチーフにした素敵な衣装を考えてくれました。</p>
                    <p>マシュマロを募集しているので、やることなくて暇なときに<a href="https://marshmallow-qa.com/yotuba_teiru" target="_blank" rel="noopener noreferrer">ここ</a>から投げてねー。</p>
                    <a class="ogp" href="https://marshmallow-qa.com/yotuba_teiru"></a>
                    <p>beyVのメンバーをTwitterで紹介しているよ！</p>
                    <p><a href="https://twitter.com/i/events/1444309777023062019?t=XAyt1RlrPg6d4Vv1Vr6Mzg&s=09" target="_blank" rel="noopener noreferrer">ここ</a>から新しい推しに出会おう！</p>
                </div>
            </main>
            <main>
                <a id="illust"></a>
                <h2>イラスト</h2>
                <div id="artsArea"></div>
            </main>
            <main>
                <a id="movie"></a>
                <h2>動画</h2>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div>
                    <iframe src="https://www.youtube.com/embed/ULgpSo9E4c0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/O6it7ZGQeFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </main>
            <main>
                <a id="history"></a>
                <h2>活動の記録</h2>
                <div id="historyList">
                    <p><time>2021/09/02</time>Twitterアカウント開設</p>
                    <p><time>2021/10/21</time>IRIAMにて初配信</p>
                </div>
            </main>
            <main>
                <a id="comments"></a>
                <h2>コメント</h2>
                <form name="fm" onsubmit="sendComment(); return false;">
                    <p>
                        <label class="inputlabel">お名前</label>
                        <input type="text" name="displayname" class="commentinput" placeholder="匿名OK">
                    </p>
                    <p>
                        <label class="inputlabel">メールアドレス(公開されません)</label>
                        <input type="email" name="email" class="commentinput" placeholder="トラブル防止のため入力推奨">
                    </p>
                    <div id="replyTo"></div>
                    <p>
                        <label class="inputlabel">コメント内容<span style="color: red;">(必須)</span></label>
                        <textarea name="comment" class="commentinput" required></textarea>
                    </p>
                    <p style="text-align: right;">
                        <button class="btn_submit">投稿</button>
                    </p>
                    <input type="hidden" name="replyto" value="">
                </form>
                <p>コメント(新着順)</p>
                <div id="commentArea"></div>
            </main>
            <main>
                <a id="about"></a>
                <h2>このサイトについて</h2>
                <p>このサイトは非公式ファンサイトです。</p>
                <p><a href="https://twitter.com/OTFT_V" target="_blank">OTFT</a>が勝手に作成・運営しています。</p>
                <p>作った目的は特になく、暇つぶしの産物です。</p>
                <p>このサイト上のコンテンツを使用したい場合は各コンテンツの著作権者へ直接ご連絡ください。</p>
                <p>コンテンツの充実のため、陽津葉テイルさんに関する最新情報などをコメントに残していただければ幸いです。</p>
                <p>荒らし及びアンチコメントは発見次第削除します。秩序のあるサイトを目指してます。</p>
            </main>
        </div>
        <div id="imageView" onclick="closeImage()">
            <a href="" target="_blank" rel="noopener noreferrer">掲載元を見る</a>
        </div>
        <script>
            onload = () => {
                document.getElementById('loading').remove();
                document.getElementById('bio_teiru').removeAttribute('style');
                document.getElementById('icon_desc').removeAttribute('style');
                let charactername = '陽津葉(よつば)テイル';
                document.getElementById('name_teiru').innerHTML = '';
                let si = setInterval(() => {
                    if (charactername == '') {
                        clearInterval(si);
                        document.getElementById('icon_teiru').style.opacity = 1;
                        document.getElementById('icon_teiru').style.left = 0;
                        document.getElementById('desc_teiru').style.opacity = 1;
                        document.getElementById('bio_teiru').style.opacity = 1;

                        let hds = document.querySelectorAll('header div');
                        let i = 0;
                        si = setInterval(() => {
                            hds[i].style.display = 'block';
                            i++;
                            if (i >= hds.length) {
                                clearInterval(si);
                                document.getElementsByTagName('h1')[0].style.transform = 'rotate(-3deg)';
                                document.getElementsByTagName('h1')[0].style.textShadow = '2px 2px 2px var(--yellow)';
                                document.getElementById('topics').style.display = 'block';
                                document.getElementById('topics').style.opacity = 1;
                            }
                        }, 100);
                    } else {
                        let spn = document.createElement('span');
                        spn.setAttribute('class', 'down');
                        spn.innerText = charactername.charAt(0);
                        charactername = charactername.substring(1);
                        document.getElementById('name_teiru').appendChild(spn);
                    }
                }, 100);
                let arts = [
                    {
                        "name": "",
                        "filename": "LiaMXP.png",
                        "drawer": "OTFT",
                        "url": "https://otft.fanbox.cc/posts/2706211"
                    },
                    {
                        "name": "",
                        "filename": "E_lF9DvUUAUaDAu.png",
                        "drawer": "Mois☪︎",
                        "url": "https://twitter.com/Mois4438/status/1439258477482762247"
                    }
                ];
                arts.forEach(art => {
                    let artsBox = document.createElement('div');
                    artsBox.setAttribute('class', 'artsBox');
                    artsBox.style.backgroundImage = "url('/materials/art_thumb/" + art.filename + "')";
                    artsBox.setAttribute('data-filename', art.filename);
                    artsBox.setAttribute('data-url', art.url);
                    artsBox.setAttribute('onclick', 'openImage(this)');
                    document.getElementById('artsArea').prepend(artsBox);
                    let text = document.createElement('span');
                    if (art.name != '') art.name = '『' + art.name + '』';
                    text.innerText = text.innerText = art.name + '\n' + art.drawer + 'さん';
                    artsBox.appendChild(text);
                });
            };

            function openImage(elm) {
                let filename = elm.getAttribute('data-filename');
                let iv = document.getElementById('imageView');
                iv.style.backgroundImage = "url('/materials/art/" + filename + "')";
                iv.style.display = 'block';
                iv.style.opacity = 1;
                iv.getElementsByTagName('a')[0].href = elm.getAttribute('data-url');
            }

            function closeImage() {
                let iv = document.getElementById('imageView');
                iv.style.backgroundImage = "none";
                iv.style.opacity = 0;
                setTimeout(() => {
                    iv.style.display = 'none';
                }, 200);
            }

            function sendComment() {
                fetch('/comment/', {
                    method: 'POST',
                    body: new FormData(document.fm)
                }).then(res => {
                    if (res.status == 200) return res.json();
                    else return null;
                }).then(obj => {
                    if (obj == null) {
                        alert('投稿に失敗しました');
                    } else {
                        dispComment(obj, document.getElementById('commentArea'));
                        localStorage.setItem('displayname', document.fm.displayname.value);
                        document.fm.displayname.value = '';
                        document.fm.email.value = '';
                        document.fm.comment.value = '';
                        document.fm.replyto.value = '';
                        document.getElementById('replyTo').innerHTML = '';
                        alert('投稿しました');
                    }
                });
            }

            function dispComment(obj, addto) {
                let com = document.createElement('div');
                com.setAttribute('class', 'commentBox');
                com.setAttribute('data-id', obj.id);
                addto.prepend(com);

                let spn = document.createElement('span');
                spn.innerText = obj.name == '' ? '匿名' : (obj.name == null ? '匿名' : obj.name);
                com.appendChild(spn);

                let combody = document.createElement('div');
                combody.innerText = obj.comment;
                com.appendChild(combody);

                let div = document.createElement('div');
                div.style.textAlign = 'right';
                com.appendChild(div);

                let repbtn = document.createElement('button');
                repbtn.innerText = '返信';
                repbtn.setAttribute('data-id', obj.id);
                repbtn.setAttribute('onclick', 'setReply(this)');
                div.appendChild(repbtn);

                let dt = document.createElement('time');
                dt.innerText = obj.datetime;
                div.appendChild(dt);

                let reparea = document.createElement('div');
                reparea.setAttribute('class', 'rep');
                com.appendChild(reparea);
            }

            function setReply(btn) {
                let id = btn.getAttribute('data-id');
                document.getElementById('replyTo').innerHTML = '<label class="inputlabel">返信先</label>';
                let clone = btn.parentNode.parentNode.cloneNode(true);
                clone.getElementsByTagName('button')[0].remove();
                clone.querySelector('.rep').remove();
                document.getElementById('replyTo').appendChild(clone);
                document.fm.replyto.value = id;
                document.querySelector('form[name="fm"]').scrollIntoView({ behavior: "smooth" });
            }

            if (localStorage.getItem('displayname') != null) {
                document.fm.displayname.value = localStorage.getItem('displayname');
            }

            let msg = JSON.parse("{{ .Message }}");
            Array.from(msg).forEach(o => {
                if (o.replyto == 0 || o.replyto == null) {
                    dispComment(o, document.getElementById('commentArea'));
                } else {
                    let ca = document.querySelector('#commentArea .commentBox[data-id="' + o.replyto + '"] .rep');
                    if (ca != null) dispComment(o, ca);
                }
            });

            Array.from(document.querySelectorAll('.ogp')).forEach(anc => {
                fetch("/ogp/?url=" + anc.href).then(res => res.json())
                .then(data => {
                    anc.setAttribute('target', '_blank');
                    anc.setAttribute('rel', 'noopener noreferrer');
                    let img = document.createElement('div');
                    img.style.backgroundImage = 'url(\'' + data.image + '\')';
                    anc.appendChild(img);
                    let text = document.createElement('div');
                    anc.appendChild(text);
                    let title = document.createElement('h4');
                    title.innerText = data.title;
                    text.appendChild(title);
                    let sitename = document.createElement('span');
                    sitename.innerText = data.site_name;
                    text.appendChild(sitename);
                    let description = document.createElement('div');
                    description.innerText = data.description;
                    text.appendChild(description);
                });
            });
        </script>
    </body>
</html>